<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyjianjun.shirovuedemo.mapper.SysRolePermissionMapper">
    <select id="queryPermissionListByRoleId" parameterType="long"
            resultType="com.heyjianjun.shirovuedemo.entity.SysPermission">
        select *
        from sys_permission sp
                 inner join sys_role_permission srp on sp.permission_id = srp.permission_id
        where srp.role_id = #{roleId} and sp.status = '0';
    </select>
</mapper>
